.hero-post {
  background: url('../img/glow.png'), url('../img/posts-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-width: 100%;
  min-height: 30vh;
  padding-top: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.hero-post__link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.hero-post__svg {
  margin-right: 0.75rem;
}

.posts__share {
  display: flex;
  align-items: center;
}

.share__list {
  display: flex;
  align-items: center;
}