* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.woff2) format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #1B202B;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-reset {
  background-color: transparent;
  border: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10%;
}

.header {
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-height: 104px;
  min-width: 100%;
  padding: 0 5%;
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__slogan {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #d3d7e1;
  margin-left: 24px;
}

.header__navigation {
  display: flex;
}

.header__menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__span {
  color: #ffffff;
  font-weight: 600;
  margin-right: 8px;
}

.hero {
  padding-top: 152px;
  padding-bottom: 92px;
  background: url('../img/glow.png'), url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  color: #ffffff;
}

.hero__main-block {
  max-width: 650px;
}

.hero__title {
  margin: 0;
  line-height: 45px;
  font-weight: 700;
}

.hero__descr {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  margin-top: 16px;
}

.hero__join {
  display: flex;
  margin-top: 24px;
  align-content: center;
  align-items: center;
}

.hero__button {
  width: 295px;
  height: 60px;
  background-color: #c51f43;
  border-radius: 8px;
  color: #ffffff;
  margin-right: 32px;
  cursor: pointer;
  font-size: 18px;
  cursor: pointer;
}

.hero__link {
  display: flex;
  align-content: center;
  color:  #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.hero__arrow {
  margin-left: 12px;
}

.hero__features {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 32px;;
}

.hero__item {
  display: flex;
  align-items: center;
  color: #d3d7e1;
  font-weight: 600;
}

.hero__icon {
  margin-right: 16px;
}

.hero__vacancy {
  max-width: 650px;
  background-color: #1b202b;
  opacity: 0.8;
  border-radius: 12px;
  padding: 40px;
  
}

.vacancy__title {
  margin: 0;
  color: #e3e7ed;
  font-weight: 700;
  margin-bottom: 24px;
}

.vacancy__item {
  color: #e3e7ed;
}

.vacancy__subtitle {
  margin: 0;
  font-weight: 600;
  margin-bottom: 4px;
}

.vacancy__descr{
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 24px;
}

.vacancy__link {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-content: center;
}

.about-us {
  padding-top: 88px;
}

.about-us__team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us__video {
  min-width: 477px;
  height: 293px;
  background-color: grey;
  border-radius: 12px;
  position: relative;

}

.video__play-button {
  position: absolute;
  left: 14px;
  bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.play-button__descr{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 16px;
}

.about-us__title {
  max-width: 515px;
  line-height: 40px;
}

.about-us__title--grey {
  opacity: 0.6;
}

.about-us__features {
  margin-top: 88px;
}

.about-us__title--features {
  margin: 0;
  max-width: 785px;
  line-height: 40px;
}

.about-us__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  column-gap: 32px;
  margin-top: 40px;
}

.about-us__item {
  display: flex;
  align-items: center;
}

.about-us__text{
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #1b202b;
  margin-left: 16px;
}

.quote {
  margin-top: 88px;
  background-image: url('../img/quote-bg.jpg');
  display: flex;
  justify-content: center;
}

.quote__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  max-width: 489px;
  text-align: center;
  margin-top: 88px;
}

.quote__text {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 32px;
}

.quote__image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
}

.quote__author {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 85px;
}

.projects {
  padding-top: 88px;
}

.projects__descr {
  display: flex;
  align-items: center;
}

.projects__title {
  margin: 0;
  width: 537px;
  line-height: 40px;
  font-weight: 700;
  margin-right: 48px;
}

.projects__title--grey {
  opacity: 0.6;
}

.projects__text{
  margin: 0;
  width: 477px;
  font-size: 16px;
  line-height: 25px;
}

.projects__promo {
  margin-top: 56px;
  position: relative;
  border: 2px solid #f3f5fa;
  border-radius: 12px;
}

.promo__kanbanchi-logo {
  position: absolute;
  top: 40px;
  left: 48px;
}

.promo__kanbanchi-board {
  margin-top: 201px;
  margin-left: 48px;
  box-shadow: 0px 4px 24px 2px #0000000D;
  border-radius: 12px;
  width: 631px;
}

.promo__gantt {
  position: absolute;
  top: 97px;
  left: 204px;
  box-shadow: 0px 4px 24px 2px #0000000D;
  border-radius: 12px;
}

.promo__link {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
}

.promo__awards {
  position: absolute;
  top: 377px;
  right: 48px;
}

.awards__item{
  margin-bottom: 12px;
}

.promo__descr {
  max-width: 633px;
  margin-left: 48px;
  margin-top: 40px;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 25px;
}

.projects__reviews {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.reviews__item {
  padding: 48px;
  background-color: #f9fbfc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
}

.reviews__text {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  color: #6a7488;
}

.benefits {
  background-color: #f3f5fa;
  margin-top: 88px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  grid-template-areas:
    "a a a  b b b"
    "a a a  c c c"
    "d d e  e f f"
    "g g g  h h h"
    "i i j  j j j";
}

.benefits__item {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 12px;
}

.benefits__item--1 {
  grid-area: a;
}

.benefits__item--2 {
  grid-area: b;
}

.benefits__item--3 {
  grid-area: c;
}

.benefits__item--4 {
  grid-area: d;
}

.benefits__item--5 {
  grid-area: e;
}

.benefits__item--6 {
  grid-area: f;
}

.benefits__item--7 {
  grid-area: g;
}

.benefits__item--8 {
  grid-area: h;
}

.benefits__item--9 {
  grid-area: i;
}

.benefits__item--10 {
  grid-area: j;
}

.benefits__main-title {
  line-height: 40px;
  font-weight: 700;
  margin-top: 28px;
}

.benefits__main-title--grey {
  opacity: 0.6;
}

.benefits__title {
  margin-top: 24px;
  margin-bottom: 4px;
  font-weight: 700;
}

.benefits__descr {
  font-size: 16px;
  line-height: 25px;
  color: #6a7488;
  margin-top: 4px;
}

.jobs {
  padding-top: 88px;
}

.jobs__title {
  margin: 0;
  font-weight: 700;
  line-height: 40px;
}

.jobs__descr {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  opacity: 0.6;
}

.jobs__list {
  margin-top: 60px;
}

.jobs__item {
  margin-bottom: 16px;
}

.jobs__vacancy-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fbfc;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;
  cursor: pointer;
}

.jobs__button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.jobs__button--open {
  background-image: url('../img/minus.svg');
}

.jobs__button--close {
  background-image: url('../img/plus.svg');
}

.jobs__content {
  margin-top: 40px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.content__text {
  font-size: 16px;
  line-height: 25px;
}

.content__title {
  margin-top: 32px;
  margin-bottom: 16px;
}

.content__item {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 24px;
}

.content__item::before {
  content: "— ";
}

.content__request {
  background-color: #f9fbfc;
  border-radius: 12px;
  padding: 40px;
  margin-bottom: 40px;
}

.request__title {
  margin: 0;
}

.request__form {
  margin-top: 24px;
}

.request__item {
  margin-bottom: 32px;
}

.request__contact, .request__file, .request__textarea {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  color: #6a7488;
  padding-bottom: 11px;
  background-color: #f9fbfc;
  border-bottom: 2px solid #d3d7e1;
  outline: none;
}

.request__file {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  color: #6a7488;
  cursor: pointer;
}

.request__file::after {
  content: url("../img/paper-clip.svg");
}

.request__textarea {
  outline: none;
	-moz-appearance: none;
  resize: none;
}

.request__submit {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #c51f43;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: '';
}

.blog {
  margin-top: 88px;
  background-color: #f9fbfc;
  padding-top: 89px;
  padding-bottom: 89px;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__title {
  margin: 0;
  font-weight: 700;
}

.blog__link {
  font-size: 16px;
  font-weight: 600;
  color: #c51f43;
  text-decoration: none;
  display: flex;
}

.blog__svg {
  margin-left: 12px;
}

.blog__posts {
  margin-top: 48px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px; */
  
}

.blog__item {
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #e3e7ed;
  box-shadow: 0px 0px 4px 2px #0000000A;
}

.post__descr {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
}

.post__title {
  margin: 0;
}

.post__text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 25px;
  color: #6a7488;
}

.post__date {
  font-size: 16px;
  color: #9ca5b6;
}

.footer {
  background: url('../img/glow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #1d2330;
  position: relative;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  color: #d3d7e1;
  padding-top: 129px;
}

.footer__title {
  margin: 0;
  color: #ffffff;
}

.footer__descr {
  margin-top: 32px;
}

.footer__contact-form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.contact-form__item {
  margin-bottom: 32px;
}

.contact-form__name, .contact-form__contact, .contact-form__textarea {
  width: 100%;
  padding-bottom: 13px;
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color: transparent;
  border-bottom: 2px solid #d3d7e1;
  outline: none;
  resize: none;
}

.contact-form__name::placeholder, .contact-form__contact::placeholder, .contact-form__textarea::placeholder {
  color: #ffffff;
}

.contact-form__submit {
  height: 60px;
  color: #ffffff;
  background-color: #c51f43;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.footer__map {
  width: 100%;
  min-height: 345px;
  filter: grayscale(1);
  border-radius: 8px;
}

.footer__address {
  margin-top: 31px;
}

.address-list__item {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 8px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9ca5b6;
  background: #2A303D33;
  min-height: 88px;
  margin-top: 88px;
  padding-left: 80px;
  padding-right: 80px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
}

.nav {
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
}

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-height: 104px;
  min-width: 100%;
  padding: 0 80px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__slogan {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #9ca5b6;
  margin-left: 24px;
}

.nav__menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__span {
  color: #1b202b;
  font-weight: 600;
  margin-right: 8px;
}

.nav__main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nav__item {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  color: #1b202b;
  opacity: 0.6;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 1;
}

.sticky__header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky__wrapper {
  background-color: #ffffff;
  color: #1b202b;
}

.swiper {
  z-index: 0;
}

@media (max-width: 1270px) {
  h1 {
    font-size: 38px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 16px;
  }

  .container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .hero__link {
    align-items: center;
  }

  .projects__promo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  .promo__kanbanchi-board {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .promo__link {
    position: static;
    grid-column: -1 / -2;
    grid-row: 3 / 4;
    justify-self: center;
  }

  .promo__awards {
    position: static;
    display: flex;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;
    margin-top: 30px;
  }

  .awards__item:not(:last-child) {
    margin-right: 12px;
  }

  .promo__descr {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

@media (max-width: 1100px) {
  .hero {
    grid-template-columns: 1fr;
    background-size: cover;
    justify-items: center;
  }
}